doctype html
html
    head
        meta(charset='utf-8')
        title Example
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,500&family=PT+Serif:ital,wght@0,400;1,700&display=swap" rel="stylesheet"> 
    body
        header(class="main-header bg")
            div(class="container main-header--row posrelative")
                div(class="main-header__logo")
                    img(src="logo.svg" alt="")
                nav(class="main-header__nav text-color-main font-bold trn")
                  ul
                    li
                      a(href="#") Мобилография
                    li
                      a(href="#") советы
                    li
                      a(href="#") идеи
                    li
                      a(href="#") обработка
                    li
                      a(href="#") инструкции
                button(class="main-header__search-icon trn")
        div(class="home-banner bg block-padding mb34")
            div(class="container home-banner--row")
                div(class="col")
                    h1 Мобилография - новый жанр в искусстве фотографии
                    div(class="paragraphs text-color-second mb34")
                        p Главная особенность течения в том, что все снимки делаются не на
                        | фотоаппарат, а на мобильное устройство со встроенной камерой.
                        
                        p "Объект, ракурс и идея более ценны, нежели качество фотографии"-
                        | такова философия жанра. Проект "Мобилография как стиль жизни" создан
                        | для продвижения мобильного фотоискусства в мире.
                    div(class="color-btn")
                      a(href="#") Узнать больше

                div(class="col")
                    div(class="home-popular")
                        div(class="block posrelative")
                            img(src="media/img-1.png" alt="")
                            div(class="over-data")
                                div(class="w")
                                    div(class="title trn text-color-white font-bold")
                                        a(href="#") Топ-15 советов для мобильных фотографов
                                    div(class="post-data -opacity")
                                        span(class="views") 756
                                        span(class="star") 4,7

                        div(class="block posrelative")
                            img(src="media/img-2.png" alt="")
                            div(class="over-data")
                                div(class="w")
                                    div(class="title trn text-color-white font-bold")
                                        a(href="#") Зимняя раскладка для Instagram
                                    div(class="post-data -opacity")
                                        span(class="views") 756
                                        span(class="star") 4,7

                        div(class="block posrelative")
                            img(src="media/img-3.png" alt="")
                            div(class="over-data")
                                div(class="w")
                                    div(class="title trn text-color-white font-bold")
                                        a(href="#") Зимняя обработка фото на телефоне
                                    div(class="post-data -opacity")
                                        span(class="views") 756
                                        span(class="star") 4,7
                        
                        div(class="block posrelative")
                            img(src="media/img-4.png" alt="")
                            div(class="over-data")
                                div(class="w")
                                    div(class="title trn text-color-white font-bold")
                                        a(href="#") Красивая новогодняя фотография на телефон
                                    div(class="post-data -opacity")
                                        span(class="views") 756
                                        span(class="star") 4,7

        div(class="container")
            div(class="main-block-heading") Теги
        div(class="all-tags--wrapper mb78")
            div(class="container")
                
                    div(class="all-tags")

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-1.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-2.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-3.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-4.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-5.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-6.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                               img(src="media/tag-img-4.png" alt="")
                               span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-2.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-5.png" alt="")
                                span(class="text-color-main") #snapseed

                        div(class="block hover-block posrelative")
                            a(href="#")
                                img(src="media/tag-img-2.png" alt="")
                                span(class="text-color-main") #snapseed

