@import "src/style/_vars";
@import "src/style/_reset";
@import "src/style/_elements";

body{
    font-family: $MainFont;
    font-size: 16px;
    line-height: 1.6;
    color: $main;
    /* -webkit-appearance: none; для отображения элемента, используя
       базовые стили платформы на основе темы операционной системы.
    */
    -webkit-appearance: none;
}

*:after,
*:before{
    box-sizing: border-box;
}

// Grid

.container{
    max-width: 1214px;
    width: 100%;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

// Header

.header{


    .container{
        padding: 24px 0;        
        border-bottom: 1px solid $border;
    }

    .main-header__logo{
        img{

        }
    
    }

    .main-headar__nav{
        li{
            a{
                &:hover{

                }
            }
        }
    }
    .main-header__search-icon{
        &:hover{

        }
    }

}